Django          
djangorestframework
psycopg2-binary
elasticsearch
celery
boto3
redis
django-cors-headers
django-extensions
djangorestframework-simplejwt
requests
phonenumbers
ipython
drf-yasg
# Websockets
channels[daphne]
channels-redis
gunicorn
dj-database-url
django-filter
mailersend
Faker
debugpy
google-generativeai
django-storages